<% provide(:title, 'Home') %>
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= link_to "Create a Trade", current_user, class: "btn btn-medium btn-primary" %>
		</section>
	</aside>
	<div class="span8">
		<h3>Hot List</h3>
		<div class="btn-toolbar" id="calendar_switch">
			<div class="btn-group">
				<%= link_to  root_path(params), class:  if url_for == root_path then  'btn active' else 'btn' end do %> 
						<i class="icon-list"></i>
				<% end %>
				<%= link_to calendar_path(params), class:  if url_for == calendar_path then  'btn active' else 'btn' end  do%> 
						<i class="icon-calendar"></i>
				<% end %>
			</div>
		</div>
		<ul class="nav nav-pills">
				<li class="<%= 'active' if !params[:battalion] || params[:battalion] == 'false' %>">
				<%= link_to "Entire Department", params.merge(battalion: false) %>
				</li>
				<li class="<%= 'active' if params[:battalion] == 'true' %>">
				<%= link_to "My Battalion", params.merge(battalion: true) %>
				</li>
		</ul>
			<% if url_for == root_path %>
				<%= render 'shared/feed' %>
			<% else %>
				<%= render 'shared/calendar' %>
			<% end %>
	</div>	
</div>
<% else %>
<div class="center hero-unit">
	<h1>FireTrades</h1>
	<p>FireTrades allows firefighers to quickly and easily find shift trades.</p>
	<p>To get started, click the button below.</p>

	<%= link_to "Make a Trade!", signin_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
