<% provide(:title, 'Home') %>
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= link_to "Create a Trade", current_user, class: "btn btn-medium btn-primary" %>
		</section>
	</aside>
	<div class="span8">
		<h3>Hot List</h3>
		<ul class="nav nav-pills">
				<li class="<%= 'active' if current_page?(root_path) %>">
				<%= link_to "My Department", root_path %>
				</li>
				<li class="<%= 'active' if current_page?(battalion_path) %>">
				<%= link_to "My Battalion", battalion_path %>
				</li>
		</ul>
		<%= render 'shared/feed' %>
	</div>
</div>
<% else %>
<div class="center hero-unit">
	<h1>FireTrades</h1>
	<p>FireTrades allows firefighers to quickly and easily find shift trades.</p>
	<p>To get started, click the button below.</p>

	<%= link_to "Make a Trade!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
