<% provide(:title, "Sign in") %>

<div class="row">
	<div class="span6 offset2">
	<div class="spacer">&nbsp;</div>

		<%= form_for(:session, url: sessions_path, html: { class: 'form-horizontal', style: 'float:left' }) do |f| %>
			<div class="control-group">
				<label for="session_email" class="control-label">Email:</label>
				<div class="controls">
					<%= f.text_field :email %>
				</div>
			</div>
			<label for="session_password" class="control-label">Password:</label>
			<div class="controls">
				<%= f.password_field :password %>
			</div>
			<div class="controls">
				<label class="checkbox">
				<%= check_box_tag :remember_me, 1, params[:remember_me] %> Rememeber Me
				</label>
				<%= f.submit "Sign in", class: "btn" %>
				<br/><br/>
				<p><%= link_to "Forgotten password?", new_password_reset_path %></p>
				<p>Don't have an account? <%= link_to "Register here", signup_path %></p>
			</div>
			
		<% end %>
	</div>
</div>
