<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @house.name %>
</p>

<p>
  <b>Number:</b>
  <%= @house.number %>
</p>

<p>
  <b>Address:</b>
  <%= @house.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @house.address2 %>
</p>

<p>
  <b>Phone:</b>
  <%= @house.phone %>
</p>

<p>
	<b>Battalion:</b>
	<%= @house.battalion %>
</p>
<p>
  <b>Department:</b>
  <%= @house.department.name %>
</p>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
