<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>
<div class="row">
	<div class="span6 offest3">
		<%= form_for(@user) do |f| %>	
			<%= render 'shared/error_messages' %>
			<%= f.label :first, 'Name (First and Last)' %>
			<%= f.text_field :first, class: 'input-name inline' %>
			
			<%= f.text_field :last, class: 'input-name inline' %>
			
			<%= f.label :email %>
			<%= f.email_field :email %>
			
			<%= f.label :ident, 'Identification' %>
			<%= f.text_field :ident %>
			
			<%= f.label :house %>
			<%= collection_select(:user, :house_id, House.all, :id, :name) %>
			
			<%= f.label :password %>
			<%= f.password_field :password %>
			
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
			
			<p><b>Optional fields: </b></p>
			
			<%= f.label :phone %>
			<%= f.text_field :phone %>
			
			<%= f.label :rank %>
			<%= f.text_field :rank  %>
			
			
			<br/><br/>
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails" target="_blank">Change this image</a>		
			<br/><br/><br/><br/>
			
			<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
		<% end %>
		
		
	</div>
</div>
