<%= provide(:title,@user.first + " " + @user.last) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for(@user, size: 96) %>
				<%= full_name(@user) %>
			</h1>
			<% if current_user?(@user) %>
				<%= link_to "Edit profile", edit_user_path(@user) %>
				<div class="span3">
					<%= render partial: '/trades/form' %>
				</div>
			<% end %>
		</section>
		<%if !current_user?(@user) %>
			<section>
				<%= @user.rank %> at <%= @user.house.name %><br/>
				Phone: <b><%= @user.phone %></b> <br/>
				House Phone: <b><%= @user.house.phone %></b>
			</section>
		<% end %>
	</aside>
	
	<div class="span8">
		<h3>Trades (<%= @trades.count %>)</h3>
		<% if @trades.any? %>
			<ol class="trades">
				<%= render @trades%>
			</ol>
			<%= will_paginate @trades %>
		<% else %>
			This user has no trades.
		<% end %>
	</div>

</div>
<ul>

</ul>
