<li id="<%= feed_item.id %>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user">
		<%= link_to full_name(feed_item.user), feed_item.user %>
	</span>
	<span class="trade_content"><%= feed_item.description %></span>
	<span class="timestamp">
		<% if DateTime.now > feed_item.date %>
			<%= distance_of_time_in_words_to_now(feed_item.date) %> ago.
		<% else %>
			In <%= distance_of_time_in_words_to_now(feed_item.date) %>.
		<% end %>
		(<%= feed_item.date %>) <br/><br/>
	</span>
</li>
