<%= form_for(@trade) do |f| %>
	<% if @trade.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>
	<h3>Create a trade</h3>
    <%= f.label :date %>
    <div class="input-append">
		<%= f.text_field :date, id: 'datepicker', class: 'span3 datetime' %>
		<span class="add-on"><i class="icon-th"></i></span>
    </div>
    <br/>
    <%= f.label :flipflop, class: 'checkbox inline' %>
    <%= f.check_box :flipflop %>
    <%= f.label :worktrade, class: 'checkbox inline' %>
    <%= f.check_box :worktrade %>
        <br/><br/>
    <%= f.label :description %>
    <%= f.text_area :description %>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<script type="text/javascript">
	$('#datepicker').datepicker({format: 'yyyy-mm-dd hh:ii'});
</script>
