<li>
	<span class="trade_content"><%= trade.description %></span>
	<span class="trade_options">
		<% if trade.flipflop %>
			Flipflop
		<% end %>
		<% if trade.worktrade %>
			24hr
		<% end %>
	</span>
	<span class="timestamp">
		<% if DateTime.now > trade.date %>
			<%= distance_of_time_in_words_to_now(trade.date) %> ago.
		<% else %>
			In <%= distance_of_time_in_words_to_now(trade.date) %>.
		<% end %>
		(<%= trade.date %>) <br/>
		<% if current_user?(trade.user) %>
			<%= link_to "delete", trade, method: :delete,
										 data: {confirm: "You sure?" },
										 title: trade.description %>
		<% end %>
		<hr/>
	</span>

</li>
